<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8" />
    <title>Chat</title>
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="styles.css" th:href="@{styles.css}" />
</head>

<body>
<script>
        jQuery(function($) {
            var chatPerson = null;
            var name = null;
            var avatar = null;
            var lastChatPerson = null;
            var currentChatId;
            var isDownloading = false;
            var chatOwner = {
                id: $("#ownerTag").attr('data-owner-id'),
                name: $("#ownerTag").attr('data-owner-name'),
                email: $("#ownerTag").attr('data-owner-email'),
                avatar: $("#ownerTag").attr('data-owner-avatar'),
                active: $("#ownerTag").attr('data-owner-active')
            };

            $(document).ready(() => {
                getActiveUsers()
            });

            function getActiveUsers() {
                getUsers();
                setInterval(function() {
                    getUsers();
                }, 10000);
            }

            function getUsers() {
                $.ajax({
                    type: "POST",
                    url: "activeusers",
                    contentType: "application/json",
                    data: JSON.stringify(chatOwner),
                    success: populateUsers
                })
            }

            function populateUsers(data) {
                var ids = []
                $('#users').empty()
                for (let i in data) {
                    ids.push(data[i].id)
                    let userId = data[i].id
                    name = data[i].name
                    avatar = data[i].avatar
                    let classActive = "_active"
                    let classNot = "usersListIcon"
                    let backImg = " src=" + '"' + avatar + '"'
                    let dataToAppend = "<li class=" + classActive + "><img class=" + classNot + backImg + "/><span id=" + userId + ">" + name + "</span></li>"
                    $('#users').append(dataToAppend)
                };

                if (ids.indexOf(parseInt(chatPerson)) === -1) {
                    if (chatPerson !== null) {
                        lastChatPerson = parseInt(chatPerson);
                        chatPerson = null;
                    }
                    if (ids.indexOf(lastChatPerson) !== -1) {
                        chatPerson = lastChatPerson;
                    }
                }
            }

            $('#users').on("click", "span", (event) => {
                chatPerson = $(event.target).attr('id');
                $('#chat').show()
                loadChatMessages()
            });

            function loadChatMessages() {
                setInterval(() => {
                    if (chatPerson) {
                        downloadMessages()
                    } else {
                        return;
                    };
                }, 5000);
            }

            function downloadMessages() {
                if (!isDownloading) {
                    isDownloading = true;
                    $("#messages").load("messages", {
                        ownerId: chatOwner.id,
                        userId: chatPerson
                    });
                    $('#messages').animate({scrollTop: $('#messages').prop("scrollHeight")}, 500);
                }
                isDownloading = false;
            }
            $('#message').keypress(function(e) {
                if (e.which == 13) {
                    $('#send').click();
                }
            });

            $('#send').click(function() {
                currentChatId = $("#msgTable").attr("data-chat-id");
                let msgText = $('#message').val();
                let msgData = JSON.stringify({
                    text: msgText,
                    userId: chatOwner.id,
                    userName: chatOwner.name,
                    date: new Date(),
                    chatId: currentChatId
                })
                if (msgText.length > 0) {
                    $.ajax({
                        type: "POST",
                        url: "save",
                        contentType: "application/json",
                        data: msgData,
                        success: () => {
                            downloadMessages;
                            $("#message").val("");
                        }
                    });
                }
            });

            $(window).bind("beforeunload", function(e) {
                setTimeout(function() {
                    $.ajax({
                        type: 'POST',
                        async: false,
                        url: 'setnotactive',
                        contentType: "application/json",
                        data: JSON.stringify(chatOwner)
                    });
                }, 0);
            });
        });
    </script>
<div class="wrapper">
    <article class="main">
        <div class="_title">
            <div class="container">
                <h1 id="ownerTag" data-th-attr="data-owner-id=${chatOwner.id}, data-owner-name=${chatOwner.name},data-owner-active=${chatOwner.active},data-owner-email=${chatOwner.email},data-owner-avatar=${chatOwner.avatar}">You are logged as <span th:text="${chatOwner.name}">Chat owner</span>
                </h1>
            </div>
        </div>
        <div class="container">
            <fieldset id="chat" class="chat">
                <div id="messages" class="messages"></div>
            </fieldset>
        </div>

        <div class="message">
            <div>
                <label class="message-input"><input id="message" type="text" placeholder="Сообщение...."/></label>
                <button id="send">отправить</button>
            </div>
        </div>
    </article>
    <aside class="aside">
        <div class="container">
            <h2>Диалоги</h2>
        </div>
        <ul id="users" class="_users"></ul>
    </aside>
</div>
</body>

</html>