<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
</head>

<body>
<div th:fragment="messagesList" th:unless="${#lists.isEmpty(messages)}" class="results-block">
    <table id="msgTable" data-th-attr="data-chat-id=${chatId}">
        <div class="messageItem" th:each="message : ${messages}">
            <div class="messageUser">
                <i class="usersListIcon"></i>
                <div class="userName" data-th-attr="data-chat-id=${chatId}" th:text="${message.userName}">User Name
                </div>
                <div class="messageDate" th:text="${message.date}">2017-02-22 02:13:59.42</div>
            </div>
            <div class="messageText" th:text="${message.text}" >
                message text...
            </div>
        </div>
    </table>
</div>
</body>
</html>


